<p>Назва товару:</br><%=  f.text_field :name %></p>
<p>Опис товару:</br><%=  f.text_area :description %></p>
<p>Вага:</br> <%=  f.text_field :weight %></p>
<p>Ціна:</br><%=  f.text_field :price %></p>