= f.input :name, label: t('item.name')
= f.input :image, label: t('item.image')
= f.input :description, label: t('item.description')
= f.input :weight, label: t('item.weight')
= f.input :price, label: t('item.price')

= hidden_field_tag :admin, params[:admin]